/* Estlos compartidos en el main y otros que se pueden reutilizar*/
.main {
  width: 100%;
}

/* No cambiar, esto es el formato de los contenedores */
.container {
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: space-between;
}

.fontTitle {
  font-family: 'title';
  font-size: 2rem;
}

.fontSubTitle {
  font-family: 'subTitle';
  font-size: 2rem;
}

#buscar {
  color: var(--black);
  background-color: var(--white);
  border-radius: 5rem;
  padding: .5rem 1rem;
  cursor: pointer;
}

/* Aquí Ajejandra debe ingresar toddos los estilos de su parte */
.container.recetas {
  display: grid;
  justify-content: center;
  text-align: center;
}

.recetasArticle {
  display: flex;
  width: 100%;
  margin: 1rem auto;
  border: 1px solid var(--white);
  border-radius: 1rem;
}

.recetasArticle img {
  width: 40%;
  border-radius: 1rem 0 0 1rem;
}

.recetasArticle aside {
  width: 60%;
  padding: 1rem 2rem;
  justify-content: start;
  text-align: justify;
}

#receta1,
#receta2, #receta3 {
  line-height: 22px;
  cursor: pointer;
}

/* ======= estilos de los botones de inicio de sesión ========== */
.buttonsContainer {
  display: flex;
}

/* Estilo de los botones */
.styleButtons {
  display: flex;
  width: 100%;
  min-width: 120px;
  height: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  cursor: pointer;
  background-color: var(--orange);
}

/* Estilo del formulario de inicio de sesión */
.formLogin,
.formSignUp {
  display: none;
  width: 60%;
  height: 400px;
  margin: auto;
  justify-content: center;
  justify-items: center;
  align-content: center;
  border-radius: 0.5rem;
  text-align: center;
  color: var(--white);
  background-color: var(--shadow7);
  z-index: 3;
}

/* Estlo de los input del formulario de inicio de sesión */
.formLogin input,
.formSignUp input {
  width: 100%;
  margin: .5rem auto;
  padding: .5rem;
  border-radius: .5rem;
  text-align: center;
  color: var(--black);
  background-color: var(--box);
}

/* posición del formulario al dar click en el botón de ingresar */
.formLogin.active,
.formSignUp.active {
  position: absolute;
  display: grid;
  top: 6rem;
  left: 0;
  right: 0;
}

/* Contenedor de los botones de los formularios de inicio de sesión */
.botonesPopUp{
  display: flex;
}